<!DOCTYPE html>
<html>
<head>
    <title>Processed Images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form-style.css') }}">
</head>
<body>
    <div class="centered-container">
        <div>
            <h1>Faster RCNN</h1>
            <img src="{{ url_for('app_routes.serve_processed_image', filename=rcnn_file) }}" alt="RCNN Processed Image">
        </div>
        <div>
            <h1>FishNet</h1>
            <img src="{{ url_for('app_routes.serve_processed_image', filename=fishnet_file) }}" alt="FishNet Processed Image">
        </div>
        <div>
            <h1>Windowing with Random Forest</h1>
            <img src="{{ url_for('app_routes.serve_processed_image', filename=rf_file) }}" alt="Traditional RF Processed Image">
        </div>
        <br>
        <div>
            <a href="{{ url_for('app_routes.index') }}"><button>Upload Another Image</button></a> 
        </div>
    </div>
    <br>
</body>
</html>
